{% extends 'layout.html' %}

{% block header_content %}
Beranda
{% endblock %}
{% block mini_header_content %}
Beranda
{% endblock %}

{% block style_css %}
<link href="/datatables/datatables.min.css" rel="stylesheet">
<style>

</style>
{% endblock %}

{% block main_content %}
<div class="container pb-4">

    <div class="row pb-4">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <div class="card">
                <div class="card-header">
                    <div class="container mt-2">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <h4 class="text-dark">
                                    <b>Prefix Data</b>
                                </h4>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end">
                                <button type="button" class="btn btn-sm btn-primary">Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container mb-4">

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <p>Pilih salah satu dari prefix yang ada dibawah ini untuk menentukan Data sesuai Prefix
                                    yang anda.</p>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-md btn-primary mr-1">Copy</button>
                                <button type="button" class="btn btn-md btn-primary mr-1">Excel</button>
                                <button type="button" class="btn btn-md btn-primary mr-1">CSV</button>
                                <button type="button" class="btn btn-md btn-primary mr-1">PDF</button>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12">

                                <div class="table-responsive">
                                    <table id="example" class="display table-bordered" style="width:100%">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>No.</th>
                                                <th>Kode Prefix</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for items in prefixes : %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ items[1] }}</td>
                                                <td class="d-flex justify-content-center">
                                                    <button class="btn btn-md btn-info">
                                                        PROSES
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/datatables/datatables.min.js"></script>
<script src="/assets/ruangadmin/vendor/datatables/jquery.dataTables.min.js"></script>
<script>
    // const datatabless = document.getElementById('example');
    // datatabless.DataTable();
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}